/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to bottom right,#7ed56f81 , #28b485b6),url(../img/hero.jpg);
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.heading {
    position: absolute;
    top: 40%;
    left: 50%;
    text-transform: uppercase;
    color: #fff;
    transform: translate(-50%, -50%);
}

.heading-main {
    display: block;
    font-size: 70px;
    letter-spacing: 35px;
}

.heading-subtitle {
    display: block;
    font-size: 20px;
    letter-spacing: 20.5px;
}

/* 
    background-image: linear-gradient(to bottom right,#7ed56f81 , #28b485b6),url(../img/hero.jpg);
    background-image: linear-gradient(to right,#393f4d , #d4d4dc80),url(../engine2.jpg);
    important background-image: linear-gradient(to right,#393939ce , #6e6e6eef),url(../engine2.jpg); 

*/
